<h1>Update <%= @set.name %> flashcard set</h1>

<div class="column-section column-centered">
  <div class="column-10">
    <p><b>Content</b></p>
  </div>

  <div class="column-50">
    <%= form_with url: update_set_path(@set.name), method: :patch do |form| %>
      <p><%= form.text_area :content, value: @set.raw_content, style: "width: 100%; height: 500px" %></p>
      <%= form.button 'Submit' %>
    <% end %>
  </div>
</div>
