<h1>Flashcard sets</h1>

<h3 class="align-right"><%= link_to "âœï¸ Add flashcard set", new_set_path %></h3>

<div class="set-index-box">
  <% @sets.each do |set| %>
    <div class="set-index-box-item">
      <span><%= link_to set.name, set_path(set.name) %></span>
      <span>
        <%= link_to "âœï¸", edit_set_path(set.name) %>
        <%= link_to "ðŸ—‘ï¸", delete_set_path(set.name), method: :delete, data: {confirm: "Are you sure?"} %>
      </span>
    </div>
  <% end %>
</div>
