<h1>Flashcard sets</h1>

<h3 class="align-right"><%= link_to "+ Add flashcard set", new_set_path %></h3>

<div class="set-index-box">
  <% @sets.each do |set| %>
    <%= link_to set_path(set.name), class: "set-index-box-item" do %>
      <%= set.name %>
    <% end %>
  <% end %>
</div>
